body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', serif;
    color: #212D55;
    overflow-x: hidden;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

.section_active {
    color: #31BEF4;
}

.section__title {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

/* header section */

.header {
    position: relative;
    background: url("../images/background.png");
    background-size: 100% 100%;
}

.clouds {
    display: flex;
    width: 100%;
    height: 255px;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: url("../images/clouds.png");
    z-index: 0;
}

.header__menu {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    background: linear-gradient(white 80px, rgba(255, 255, 255, 0));
}

.header__menu_top {
    border-bottom: 1px solid #31BEF4;
}

.header__menu_top > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header__menu_top > .container > div {
    margin-right: 20px;
    cursor: pointer;
}
.header__menu_top > .container > div:last-child {
    margin-right: 0;
}

.logo {
    position: relative;
    height: 100%;
}

.slogan {
    position: absolute;
    width: 64px;
    right: 0;
    bottom: 34px;
}

.header .phone-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.phone {
    font-size: 20px;
}

.call-text {
    margin-top: 7px;
    text-decoration: underline #212D55;
}

.header__menu_bottom {
    border-bottom: 1px solid #31BEF4;
}

.header__menu_bottom > .container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__menu_bottom > .container > div {
    cursor: pointer;
    margin-right: 35px;
}
.header__menu_bottom > .container > div:last-child {
    margin-right: 0;
}

.header__content {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.resident-complex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resident-complex__name {
    margin-top: 65px;
    font-size: 60px;
    font-weight: 400;
}

.resident-complex__name > span {
    font-weight: 700;
}

.resident-complex__address {
    margin-top: 28px;
    font-size: 32px;
    font-weight: 400;
}

.resident-complex__price {
    margin-top: 28px;
    font-size: 35px;
    font-weight: 700;
}

.resident-complex__button_container {
    height: 62px;
    margin-top: 35px;
}

.resident-complex__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 56px;
    border-radius: 10px;
    background-color: #31BEF4;
    font-size: 22px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px #2ca8d7;
}
.resident-complex__button:hover {
    height: 62px;
    box-shadow: 0 0 10px 3px #2ca8d7;
}

.header .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    z-index: 1;
}

.header .card {
    width: 220px;
    height: 130px;
    border-radius: 10px;
    position: relative;
    font-size: 22px;
    background-color: #F9FCFD;
    box-shadow: 0 0 10px 6px #212D5533;
    padding-top: 10px;
    margin-right: 36px;
}
.header .card:last-child {
    margin-right: 0;
}

.header .card__panel {
    width: 100%;
    height: 100%;
    background: url("../images/header-cart-panel.png");
}

.header .card__panel__text {
    padding: 30px 0 0 35px;
}

.header .card .name {
    font-weight: 400;
}

.header .card .description {
    margin-top: 5px;
    font-weight: 700;
}

.header .card__point {
    position: absolute;
    left: 10px;
    top: 66px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 20px 1px #212D5533
}
.header .card__point.active {
    background-color: #31BEF4;
}

/* advantages section */

.advantages {
    margin-top: 100px;
}

.advantages .container {
    display: flex;
    justify-content: center;
    padding-left: 130px;
    padding-right: 130px;
}

.advantages .cards {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}

.advantages .cards__two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
}

.advantages .card {
    display: flex;
    align-items: center;
    width: 268px;
    height: 140px;
    background-color: #F9FCFD;
    box-shadow: 0 0 20px 2px #212D5533;
    border-radius: 10px;
    font-size: 22px;
}

.advantages .card__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 109px;
    margin-top: 8px;
    margin-left: -4px;
    background: url("../images/advantages-card-panel.png");
}

.advantages .card__panel img {
    margin-top: -6px;
}

.advantages .card .card__text {
    margin-left: -6px;
}

.advantages .card .name {
    font-weight: 400;
}

.advantages .card .description {
    margin-top: 20px;
    font-weight: 600;
}

/* infrastructure section */

.infrastructure {
    margin-top: 100px;
}

/* description section */

.description-resident-complex {
    margin-top: 80px;
    padding-bottom: 64px;
}

.description-resident-complex .subtitle {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    color: #656D89;
    margin-top: 30px;
}

.subtitle__arrows {
    margin: 0 4px;
}

.description-resident-complex .cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.description-resident-complex .cards-container {
    display: flex;
    width: 1140px;
}

.description-resident-complex .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    background-color: #F9FCFD;
    box-shadow: 0 0 20px 4px #212D5533;
    border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
}
.description-resident-complex .card:last-child {
    margin-right: 0;
}

.description-resident-complex .card__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    width: 195px;
    margin-top: 12px;
    background: url("../images/description-card-panel.png");
}

.description-resident-complex .card.active .card__panel {
    background: url("../images/selected-description-card-panel.png");
}

.description-resident-complex .card__text {
    font-size: 22px;
    font-weight: 600;
    margin-top: -12px;
}

.description-resident-complex .card.active .card__text {
    color: #31BEF4;
}

.description-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.description-slider__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 574px;
}

.description-slider__noactive-slides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-slider__slide {
    position: relative;
    width: 262px;
    height: 171px;
    cursor: pointer;
}

.description-slider__slide.active {
    width: 848px;
    height: 573px;
    cursor: initial;
}

.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}

.information-block {
    display: none;
    width: 540px;
    height: 340px;
    padding: 20px;
    background: #FFFFFFD9;
    border-radius: 10px;
    margin: 140px 0 0 27px;
}

.information-block__title {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

.information-block__text {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    white-space: pre-line;
    color: #656D89;
}

.description-slider__slide.active .information-block {
    display: block;
}

/* request section */

.request {
    background-color: #F9FCFD;
    border-radius: 10px 10px 0 0;
}

.request .container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.request-block {
    display: flex;
    margin-top: 50px;
}

.request-block_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed #31BEF4;
    padding-right: 25px;
}

.request-block_left .text {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.request .phone-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.request .phone-block__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 20px 1px #212D5533;
    border-radius: 100%;
    margin-right: 12px;
}

.request .phone-block__number  {
    font-size: 24px;
    font-weight: 700;
}

.request-block_right {
    display: flex;
    margin-left: 25px;
}

.message-about-filling {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.request-form-block {
    margin-left: 50px;
}

.work-status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-status__point {
    width: 8px;
    height: 8px;
    background-color: #31BEF4;
    border-radius: 100%;
}

.work-status__text {
    font-size: 16px;
    font-weight: 500;
    color: #31BEF4;
    margin-left: 4px;
}

.request-form {
    margin-top: 10px;
}

.request-form .two-fields {
    display: flex;
}

.request-form .card-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    width: 279px;
    background: url("../images/request-card-panel.png");
}

.request-form .card-panel label {
    width: 80%;
    height: 54%;
    margin-top: -10px;
    margin-left: 14px;
}

.request-form .card-panel input {
    width: 100%;
    height: 100%;
    border: 0;
    font-family: 'Gilroy', serif;
    font-size: 18px;
    font-weight: 500;
}
.request-form .card-panel input:focus {
    outline: none;
}
.request-form .card-panel input::placeholder {
    font-family: 'Gilroy', serif;
    font-size: 18px;
    font-weight: 500;
    color: #A8ABB7;
}

.form-button_container {
    margin-top: 10px;
    margin-left: 12px;
    height: 68px;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 254px;
    border: 0;
    border-radius: 10px;
    background-color: #31BEF4;
    font-family: 'Gilroy', serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px #2ca8d7;
}
.form-button:hover {
    height: 68px;
    box-shadow: 0 0 10px 6px #2ca8d7;
}

.request-form .checkbox-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
}

.request-form .checkbox-block label {
    display: flex;
    align-items: center;
    font-weight: 250;
}

.request-form .checkbox-block .checkbox-text {
    margin-left: 6px;
}

.request-form .checkbox-block img {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 90px;
}

.request-form .checkbox-block input {
    width: 20px;
    height: 20px;
    appearance: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px 1px #212D5533;
    border-radius: 3px;
}
.request-form .checkbox-block input:checked ~ img {
    display: block;
}

.request-form .checkbox-block .checkbox-text_blue {
    font-weight: 500;
    color: #31BEF4;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header {
        background-size: 1140px 100%;
    }
}

/*переход на моб версию*/
@media (max-width: 1024px) {}
